.row {
    display:block;
    text-align: center;
    max-height: 110px;
    max-width: 1900px;
    padding: 5px;
}
mat-grid-tile {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: lightblue;
    border-radius: 6px;
}

.action-card {
    display: inline-block;
    width: 300px;
    color: purple;
    background-image: linear-gradient(to bottom right, aquamarine, orange);
    font-weight: bold;
    font-size: large;
    border-radius: 6px;
    margin-right: 14px;
    margin-bottom: 14px;
}

mat-toolbar {
    background-image:linear-gradient(to bottom, orange, aquamarine);
    margin-bottom: 20px;
}
