<mat-progress-bar 
    mode="determinate" 
    [value]="30" 
    (animationEnd)="100"
    color="primary"
    placem>
</mat-progress-bar>

<mat-toolbar class="mat-toolbar-header">
  <span>Material Components Tutorial</span>
</mat-toolbar>

<div class="row">
  <mat-card class="action-card" *ngFor="let item of componentList;">
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="openSnackBar(item)">GO!</button>
    </mat-card-actions>
  </mat-card>
</div>
